// white
$white: #ffffff;

// gray
$gray: #eeeeee;
$gray1: #8C8C8C;
$gray2: #CBCBCB;
$gray3: #F5F5F5;

// black
$black: #000000;
$black1: #0F0F0F;
$black2: #232323;
$black3: #444444;
$black3: #686868;

// colored
$deepRed: #821717;
$pink: #FFEFED;
$darkGreen: #113B1C;
$lightGreen: rgba(29, 201, 72, .2);
$purple: #D6B9FA;

// input
$input-bg: $gray3;
$input-placeholder: $gray2;
$input-text: $black1;
$input-hover-bg: #EBEBEB;
$input-active-border: $purple;
$input-disabled-text: $gray1;

// button
$button-bg: $black1;
$button-text: $white;
$button-hover-bg: $black2;
