    <%= stylesheet_link_tag 'promo', media: 'all', 'data-turbolinks-track': 'reload' %>
    <span class="subscribe_lable">Подпишись, чтобы не пропустить релиз проекта</span>
    <%# <%= render "subscribers/form" %>
