// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background:white!important;
  color: black!important;
}

:root {
  --bold-border: 5px solid black!important;
}
:root {
  --black: #111111;
}

header {
  color: black!important;
  border-bottom: solid black!important 5px;
  background-color: white!important;
}

.first_screen_promo {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings"
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second subscribe_input subscribe_input subscribe_input subscribe_input";
  margin-top: 40px;
}
.first_section_headings {
   grid-area: first_section_headings;
   padding: 20px 0 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   flex-direction: row;
   border-bottom: 5px solid black;
}

.first_section_headings h2 {
  line-height: 70px;
  width: 515px;
  height: 113px;
  left: 883px;
  top: 123px;
}

.arrow_picture img {
  position: absolute;
  left: 1323px;
  top: 263px;
}

.event_card {
   grid-area: event_card;
}
.event_card_second {
  grid-area: event_card_second;
}

.sections_wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
section.first_screen_promo,
section.find_event,
section.create_event {
  height: 84vh;
  width: 100%;
  border: 5px solid black;
  margin-bottom: 56px;
}

.header_actions div.separator {
  background-color: black!important;
}
header .btn_primary {
  border: 3px solid black!important;
}
a:visited {
    color: black!important;
}
.sections_wrapper p {
  position: absolute;
  width: 1143px;
  height: 143px;
  left: 100px;
  top: 277px;

  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 110%;
}
