@import "reset.css";
@import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl);
@font-face {
    font-family: 'Manege Demo';
    src: url('ManegeDemo-Light.eot');
    src: local('Manege Demo Light'), local('ManegeDemo-Light'),
        url('ManegeDemo-Light.eot?#iefix') format('embedded-opentype'),
        url('ManegeDemo-Light.woff2') format('woff2'),
        url('ManegeDemo-Light.woff') format('woff'),
        url('ManegeDemo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {font-family: "Suisse Intl"; src: url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot"); src: url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff") format("woff"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.svg#Suisse Intl") format("svg");
}

:root {
  --grayDark: #1E1E1E;
}
:root {
  --black: #0F0F0F;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Suisse Intl";
  background-color: var(--black);
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
header {
  width: 100%;
  height: 4vw;
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--grayDark);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
header .header_actions {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 10%;
  font-family: 'Suisse Intl';
}
.header_actions div:not(:last-child),
.header_actions a {
  margin-right: 4%;
}
header a {
  white-space: nowrap;
}
.logo {
  padding-left: 5%;
}
.header_actions div.separator {
  margin: 0 1%;
  height: 3px;
  width: 2em;
  background-color: white;
  transform: rotate(-45deg);
  margin-right: 0;
}
.btn_primary {
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 12px 6px;
  font-family: 'Suisse Intl';
  background-color: var(--black);
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  width: fit-content;
}
.btn_primary img {
  padding: 1% 4% 1%;
}
header button.btn_primary {
  border: 2px solid white;
  border-radius: 20px;
  background-color: var(--grayDark);
  margin-right: 4%;
    width: fit-content;
}
h1 {
  font-size: 130px;
  line-height: 100%;
  font-family: 'Manege Demo';
  font-weight: 300;
}
h2 {
  font-size: 100px;
  line-height: 100%;
  font-family: 'Manege Demo';
  font-weight: 300;
}
footer {
  height: 40vh;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
  background-color: var(--grayDark);
  align-items: center;
  text-align: center;
  margin-top: 10%;
}
 .service_name {
   margin-top: 10%;
}
.contact_us {
  padding-left: 5%;
}
.social {
  padding-top: 20px;
  display: flex;
}
.social img:not(:last-child) {
  padding-right: 20px;
}
.footer_top {
  display: flex;
  width: 70%;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.top_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
  background: #eee;
  border-bottom: 1px solid #ddd;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
}
.footer_text {
  padding-bottom: 4%;
}
.top_menu a {
  margin: 0 20px;
}




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
