// Place all the styles related to the Promo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: #111111;
  color: white;
}
header {
  color: white;
  border-bottom: solid white 5px;
}

.first_screen_promo {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings"
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second subscribe_input subscribe_input subscribe_input subscribe_input";
  margin-top: 40px;
}

.first_section_headings {
   grid-area: first_section_headings;
   padding: 20px 20px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   flex-direction: row;
   border-bottom: 5px solid white;
}
.event_card {
   grid-area: event_card;
}
.event_card_second {
  grid-area: event_card_second;
}
.subscribe_input {
  grid-area: subscribe_input;
}
.sections_wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
section.first_screen_promo,
section.find_event,
section.create_event {
  height: 86vh;
  width: 100%;
  border: 5px solid white;
  margin-bottom: 40px;
}
.event_card,
.event_card_second {
  h3 {
   font-family: 'NEXT ART';
   font-weight: bold;
   letter-spacing: 0.05em;
   font-size: 20px;
   line-height: 120%;
  }
  .time {
     border-left: 5px solid white;
  }
}
.event_card,
.event_card_second {
   h3,
  .date,
  .time,
  .place,
  .organizator {
    border-bottom: 5px solid white;
    padding: 16px;
  }
}
.event_card_second {
  margin-top: auto;
  border-top: 5px solid white;
}
.event_card_second .organizator {
  border-bottom: none;
}
.date_and_time {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.time,
.date {
  flex: 1;
}
.event_card,
.event_card_second {
  border-right: 5px solid white;
  display: flex;
  flex-direction: column;
}
.subscribe_input {
  padding-left: 40px;
}


.find_event {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description event_page_photo event_page_photo event_page_photo event_page_photo event_page_photo"
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description event_page_photo event_page_photo event_page_photo event_page_photo event_page_photo"
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description event_page_photo event_page_photo event_page_photo event_page_photo event_page_photo"
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_heading find_event_heading find_event_heading find_event_actions find_event_actions"
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_description find_event_description find_event_description find_event_date_time_place find_event_date_time_place";
}

.event_page_photo { grid-area: event_page_photo; }

.find_event_heading { grid-area: find_event_heading; }

.find_event_actions { grid-area: find_event_actions; }

.find_event_description {
  grid-area: find_event_description;
}

.find_event_date_time_place {
  grid-area: find_event_date_time_place;
}

.find_event_h1_and_description {
  grid-area: find_event_h1_and_description;
}


.event_page_photo img {
  width: 100%;
}

.find_event_heading {
  font-size: 28px;
  font-family: 'NEXT ART';
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 120%;
}
