// Place all the styles related to the Promo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background:#111111!important;
  color: white!important;
}
header {
  color: white;
  border-bottom: solid white 5px;
}
.first_screen_promo {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings first_section_headings"
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second . . . ."
    "event_card event_card event_card_second event_card_second subscribe_input subscribe_input subscribe_input subscribe_input";
  margin-top: 40px;
}
.first_section_headings {
   grid-area: first_section_headings;
   padding: 20px 20px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   flex-direction: row;
   border-bottom: 5px solid white;
}
.first_section_headings h2 {
  line-height: 70px;
}
.first_section_headings span {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
}
.event_card {
   grid-area: event_card;
}
.event_card_second {
  grid-area: event_card_second;
}
.subscribe_input {
  grid-area: subscribe_input;
}
span.subscribe_lable {
  margin-left: 260px;
  margin-bottom: 20px;
}
input#subscriber_email {
  height: 100px;
  width: 80%;
  padding-left: 20px;
  border-radius: 0;
  border: none;
  position: relative;
  font-family: 'PT Mono';
  font-size: 20px;
}
input[type="submit"] {
  background: none;
  border: none;
}
form#new_subscriber {
  width: 100%;
  border-top: var(--bold-border);
  margin-top: 20px;
}
.new_subscriber {
  position: relative;
}
.new_subscriber::before {
  content: url("arrow_inp.svg");
  position: absolute;
  height: 30px;
  width: 50px;
  left: 560px;
  top: 12px;
}
.sections_wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
section.first_screen_promo,
section.find_event,
section.create_event {
  height: 84vh;
  width: 100%;
  border: 5px solid white;
  margin-bottom: 56px;
}
.event_card,
.event_card_second {
  h3 {
   font-family: 'NEXT ART';
   font-weight: bold;
   letter-spacing: 0.05em;
   font-size: 20px;
   line-height: 120%;
  }
  .time {
     border-left: 5px solid white;
  }
}
.event_card,
.event_card_second {
   h3,
  .date,
  .time,
  .place,
  .organizator {
    border-bottom: 5px solid white;
    padding: 12px;
  }
}
.empty {
  width: 100%;
  border-right: 5px solid white;
  border-top: 5px solid white;
  margin-top: auto;
}
.event_card_second .organizator {
  border-bottom: none;
}
.date_and_time {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.time,
.date {
  flex: 1;
}
.event_card,
.event_card_second {
  border-right: 5px solid white;
  display: flex;
  flex-direction: column;
}
.find_event {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description event_page_photo event_page_photo event_page_photo event_page_photo event_page_photo"
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description event_page_photo event_page_photo event_page_photo event_page_photo event_page_photo"
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description event_page_photo event_page_photo event_page_photo event_page_photo event_page_photo"
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_heading find_event_heading find_event_heading find_event_actions find_event_actions"
    "find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_h1_and_description find_event_description find_event_description find_event_description find_event_date_time_place find_event_date_time_place";
}
.event_page_photo {
  grid-area: event_page_photo;
}

.find_event_heading {
  grid-area: find_event_heading;
}

.find_event_actions {
  grid-area: find_event_actions;
}

.find_event_description {
  grid-area: find_event_description;
  padding: 20px;
  font-weight: regular;
  margin-top: -40px;
}

.find_event_actions,
.find_event_date_time_place,
.find_event h2 {
    padding: 20px 0 0 20px;
}
.find_event_date_time_place {
  grid-area: find_event_date_time_place;
  padding: 20px 0 0 20px;
    margin-top: -40px;
}
.find_event_h1_and_description {
  grid-area: find_event_h1_and_description;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: var(--bold-border);
  font-weight: regular;
}
.event_page_photo {
  overflow: hidden;
}
.find_event_heading {
  font-size: 28px;
  font-family: 'NEXT ART';
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 120%;
  border-bottom: var(--bold-border);
  height: 80px;
  padding: 20px 0 0 20px;
}
.find_event_h1_and_description span,
.event_creation_heading_and_description span {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 120%;
}
.event_creation_heading_and_description span {
  padding-left: 0;
}
.find_event_heading,
.find_event_description {
   border-right: var(--bold-border);
}
.find_event_actions {
  .btn_primary {
    border: 3px solid white;
    padding: 9px 16px 5px;
    max-height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    width: auto;
    border-bottom: var(--bold-border);
  }
}
.find_event_actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 60px;
  border-bottom: var(--bold-border);
}
.create_event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "event_creation_illustration event_creation_heading_and_description";
}
.event_creation_illustration {
  grid-area: event_creation_illustration;
  border-right: var(--bold-border);
  position: relative;
  max-width: 100%;
}
.event_creation_heading_and_description {
  grid-area: event_creation_heading_and_description;
  padding: 20px 0 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.find_event .place {
  display: flex;
}
.event_page_date_and_time {
  padding-top: 16px;
}
.event_page_date_and_time {
  padding-top: 16px;
}
.find_event {
  .place span,
  .date span {
    padding-left: 8px;
  }
}
.steps_img {
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  transform: scale(0.9);
}
.crop_img {
  padding: 48px 20px 20px 72px;
}
.downloaded_img {
  left: 60px;
  position: absolute;
  top: 140px;
  z-index: -1;
}
.input_date {
  padding-top: 48px;
  transform: scale(0.9);
}
.name_and_geners_wrapper,
.date_and_img_wrapper {
  display: flex;
}
.date_and_img_wrapper {
  padding-top: 40px;
}
.input_name {
  transform: scale(0.8);
  padding-top: 40px;
}
.name_and_geners_wrapper {
  padding: 20px 20px 0 40px;
}
.event_page_date_and_time .date {
  padding-left: 12px;
}
