// Place all the styles related to the Promo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: var(--black);
  color: white;
}
header {
  color: white;
}
h1 {
  font-family: 'ManegeDemo';
  font-size: 160px;
  text-align: center;
  margin: 4% 0 2% 0;
}
h2 {
  padding-left: 10%;
}
.first_screen_promo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.first_section_h1_rays {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.first_screen_promo button.btn_primary {
  display: flex;
}
.first_section_headings span {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
}
// .subscribe_input {
//   grid-area: subscribe_input;
// }
// span.subscribe_lable {
//   margin-left: 260px;
//   margin-bottom: 20px;
// }
// input#subscriber_email {
//   height: 100px;
//   width: 80%;
//   padding-left: 20px;
//   border-radius: 0;
//   border: none;
//   position: relative;
//   font-family: 'SuisseIntl-Regular';
//   font-size: 20px;
// }
// input[type="submit"] {
//   background: none;
//   border: none;
// }
// form#new_subscriber {
//   width: 100%;
//
//   margin-top: 20px;
// }
// .new_subscriber {
//   position: relative;
// }
// .new_subscriber::before {
//   content: url("arrow_inp.svg");
//   position: absolute;
//   height: 30px;
//   width: 50px;
//   left: 560px;
//   top: 12px;
// }
.do_not_miss_party,
.create_event,
.get_emotions,
.opportunities,
.join_us {
  margin-top: 10%;
}
.do_not_miss_party,
.create_event,
.get_emotions,
.opportunities,
.join_us {
  p {
    margin-left: 30%;
    width: 40%;
    font-size: 26px;
    font-family: 'SuisseIntl-Regular';
    font-weight: normal;
    text-transform: uppercase;
  }
}
